<a href="https://colab.research.google.com/github/Hemanthkumar2165/About-Data-Science/blob/main/My_Numpy.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np

In [2]:
#help(np.array)

In [3]:
#array declaration
a = np.array([1,2,3,4,5])     #1D array
b = np.array([[1,2],[3,4]])   #2D array
c = np.array([1,2,3],"complex") #we can change datatype also like this

In [4]:
#arange func -> arange(start,stop,skip,dtype)
d = np.arange(1,6)

In [5]:
#zeros -> zeros(size , dtype=" ")
e = np.zeros(6, dtype = "int")  #1D
f = np.zeros([2,3])   #2D

In [6]:
#empty return new array with random values -> empty(num)
g = np.empty([2,3],dtype = "int")

In [7]:
#linspace returns evenly spaced numbers over a interval -> linspace(start,stop,val)
i = np.linspace(1,8,num = 5)

In [8]:
#identity func returns identy array is a square array with ones on the main diagonal
j = np.identity(5)

In [9]:
#eye func returns 2D array with 1's as diagonal and 0's else. -> eye(rows,cols)
h = np.eye(3,4)

In [10]:
#dimensions -> a.ndim gives no of dimensions
k = np.array([[1,2,9],[1,3,4]])
#k.ndim

In [11]:
#shape -> a.shape gives no.of rows and columns
k.shape

(2, 3)

In [12]:
#Datatype -> a.dtype
k.dtype

dtype('int64')

In [13]:
#itemsize -> total no.of items
k.itemsize

8

In [14]:
#slicing -> a[start,stop,step]

In [15]:
#reshape ->  np.reshape(a,(rows,cols),order= "c or f") .. c for row order, f for col order
a = np.arange(10)
z = np.reshape(a,(5,2))
c = np.reshape(a,(5,2),order="f")

In [16]:
#resize  ->  np.reshape(a,(rows,cols))  returns new arary with specified shape.
x = np.arange(5)
y = np.resize(x,(2,3))

In [17]:
#flatten func return a copy of array collapsed into 1D -> a.flatten()  .. we can use order also
b = np.array([[1,2],[3,4]])
b.flatten()

array([1, 2, 3, 4])

In [18]:
#ravel func returns a contiguous flatten array -> np.ravel(a)
np.ravel(b)

array([1, 2, 3, 4])

In [19]:
#transpose -> np.transpose(a)               #a.reshape(2,3,4) ->2arrays,3rows and 4cols
b=np.arange(1,25).reshape(2,3,4)
#print(np.transpose(b))
np.transpose(b).shape

(4, 3, 2)

In [20]:
#concatenate arrays
a = np.arange(4)
b = np.arange(3,6)
d = np.concatenate((a,b))

In [21]:
#inverse -> np.linalg.inv(a)
q = np.array([[1,2],[3,4]])
np.linalg.inv(q)

array([[-2. ,  1. ],
       [ 1.5, -0.5]])

In [22]:
#power of matrix -> np.linalg.matrix_power(q,num)
np.linalg.matrix_power(q,2)

array([[ 7, 10],
       [15, 22]])

In [23]:
#det -> np.linalg.det(a)
np.linalg.det(q)
round(np.linalg.det(q))

-2